.container__menu-title{
  color: white;
}

.container__menu-title > h1{
  margin: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'segoe UI';
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.container__menu-title > hr{
  margin: 20px;
  margin-bottom: 15px;
}

